.bodyMapContainer svg .hover {
  outline: 0;
  polygon {
    opacity: 1;
    fill: url(#test);
    stroke-width: 2.5;
    stroke: #5e9ed6;
    stroke-opacity: 1;
  }
}

.bodyMapContainer {
  position: relative;

  svg a polygon {
    fill: transparent;
    cursor: pointer;
  }

  svg a.selected polygon {
    fill: url(#test);
    opacity: 0.5;
  }

  svg a {
    &:focus {
      outline: 0;
      polygon {
        stroke: #5e9ed6;
        stroke-width: 2.5;
      }
    }
    polygon {
      &:hover,
      &:focus {
        opacity: 1;
        fill: url(#test);
        stroke-width: 2.5;
        stroke: #5e9ed6;
        stroke-opacity: 1;
      }
    }
  }
}

.SVGContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  svg {
    width: 100%;
    height: auto;
  }
}
