body {
  font-family: sans-serif;
}

button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  outline: 0;
  display: inherit;
}

button::-moz-focus-inner {
  border: 0;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
